site_name: Sematido Docs

theme:
  name: material

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths: [ src ]
  - search

nav:
  - Index: index.md
  - Why Semantido: explanation.md
  - Code Reference: reference.md
  - Tutorials: tutorials.md
