name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - run: pip install --upgrade pip && pip install mkdocs==1.6.1 mkdocstrings[python]==1.0.0 mkdocs-material==9.7.1
      - run: mkdocs build --clean
      - run: mkdocs gh-deploy --force